.ImgSearch {
  background-image: url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/bcT8CaBIj086WVD7K529h78eujb.jpg");
  width: 80%;
  background-size: cover;
  color: #fff;
  margin: auto;
}
.mainDiv {
  margin-left: 8%;
  margin-right: 8%;
  align-items: stretch;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  display: flex;
  overflow-x: scroll;
}
.postContainer {
  transition: 0.3s;
  width: 90%;
  border-radius: 15px;
  margin-top: 1px;
  float: left;
  margin-bottom: 3%;
}

.postContainer0 {
  padding-left: 20px;
}

.posterImage {
  width: 150px;
  height: 230px;
  border-radius: 15px;
}
.postContainer :hover {
  cursor: pointer;
}

.movieDescreption {
  margin-top: 0;
  line-height: 1;
  padding: 2px 16px;
  width: 70%;
}

.movieTitle {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.25em;

  justify-content: center;
}

.pubDate {
  margin-top: 5px;
  color: rgb(154, 150, 150);
  font-size: 15px;
  font-family: Arial, sans-serif;
}
.Switch {
  border: 1px solid #032541;
  border-radius: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: sans-serif;
  position: relative;
  z-index: 1;
}

.textBG {
  height: 18px;
  width: 90px;
  background: #032541;
  border-radius: 30px;
  position: absolute;
  z-index: -1;
}

.movieDetailsBG {
  background-color: rgba(31.5, 31.5, 31.5, 1);
  display: flex;
  padding: 3%;
}

.movieDetailsIMG {
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: flex-start;
  margin: 3%;
}
.movieDetails {
  font-family: Arial, Helvetica, sans-serif;

  align-content: flex-start;
}
.movieDetailsTitle {
  display: flex;
  color: #fff;
  justify-content: center;
  align-content: flex-start;
  font-size: 2.2rem;
}
.movieDetailsOverview {
  color: #fff;
  justify-content: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.MovieSearchCon {
  margin-left: 5%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border: 1px solid rgba(var(--lightGrey), 1);
  background-color: #fff;
}
.moviesearch {
  display: flex;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 20px;
  margin-top: 20px;
}
.moviesearch2 {
  padding: 0px 0px 10px 10px;
}
.moviesearch1 img {
  width: 94px;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

.swaip {
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  display: flex;
}

.butswip {
  border-radius: 20px;
  padding: 4px 20px;
  text-align: start;
}

.swaip :hover {
  cursor: pointer;
}

.movieDetailsBG1 {
  background-color: rgba(31.5, 31.5, 31.5, 1);
  display: flex;
}
.movieDetailsIMG1 {
  width: 300px;
  height: 450px;
  padding: 40px;
}
.movieDetails1part2 {
  display: flex;
  overflow: auto;
  width: 80vw;
  color: black;
  text-align: center;
}
.mainFooter {
  bottom: 0;
  width: 100%;
  background-color: #002242;
  display: flex;
  height: 5rem;
  flex-direction: column;
  justify-content: center;
}
.footerImg {
  display: flex;
  justify-content: center;
  height: 70px;
}
.movieTitle {
  box-sizing: border-box;
}

.castCont {
  margin-left: 8%;
}
.searchInpt {
  border-radius: 30px;
}

.searchBtn {
  border: none;
  background: linear-gradient(
    to right,
    rgb(30, 213, 169) 0%,
    rgb(1, 180, 228) 100%
  );
}

.watchListBtn {
  color: #fff;

  border: none;
  font-size: 1em;
  background-color: transparent;
}

.watchListBtn:hover {
  background-image: linear-gradient(
    to right,
    rgb(30, 213, 169) 0%,
    rgb(1, 180, 228) 100%
  );
  cursor: pointer;
  border-radius: 20px;
  background-clip: text;
  color: transparent;
  z-index: 1000;
}
.HeaderContainer {
  justify-content: space-between;
}

.logoutBtn {
  color: #fff;

  border: none;
  font-size: 1em;
  background-color: transparent;
}

.logoutBtn:hover {
  background-image: linear-gradient(
    to right,
    rgb(30, 213, 169) 0%,
    rgb(1, 180, 228) 100%
  );
  cursor: pointer;
  border-radius: 20px;
  background-clip: text;
  color: transparent;
  z-index: 1000;
}

.addToListBtn:hover {
  cursor: pointer;
  color: rgb(30, 213, 169);
}
